.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App-header {
  background-color: #3b5995;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-basis: 100%;
}